<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>监测人数</title>
    <script th:src="@{~/static/bootstrap/js/jquery-3.4.1.min.js}"></script>
    <link th:href="@{~/static/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{~/static/bootstrap/js/bootstrap.js}"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">实时监控</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/CameraPeople/CameraPeopleSingleData/{Camera_id}">监控地图分布</a></li>
                <li><a href="mypic.html">监控现场</a></li>
                <li class="active"><a href="my_cam_data.html">人流数据</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        选择监控摄像机
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">一号摄像机</a></li>
                        <li class="divider"></li>
                        <li><a href="#">二号摄像机</a></li>
                        <li class="divider"></li>
                        <li><a href="#">三号摄像机</a></li>
                        <li class="divider"></li>
                        <li><a href="#">四号摄像机</a></li>
                        <li class="divider"></li>
                        <li><a href="#">无号摄像机</a></li>
                        <li class="divider"></li>
                        <li><a href="#">六号摄像机</a></li>
                        <li class="divider"></li>
                        <li><a href="#">七号摄像机</a></li>
                        <li class="divider"></li>
                        <li><a href="#">八号摄像机</a></li>
                        <li class="divider"></li>
                        <li><a href="#">九号摄像机</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row col-sm-1 col-md-1 col-lg-1"></div>
<div class="row col-sm-10 col-md-10 col-lg-10">

    <div class="row">

        <div class="col-lg-10 col-md-10 col-sm-10">
            <iframe src="/CameraPeople/CameraPeopleSingleData/1" frameborder="0" width='100%' height="400px">
            </iframe>
        </div>
        <div class="caption col-lg-2 col-md-2 col-sm-2">
            <h3>一号摄像机</h3>
            <p>
                <a href="#" class="btn btn-info" role="button">
                    查看该摄像头监控信息
                </a>
                <br>
                <a href="#" class="btn btn-success" role="button">
                    查看该摄像头位置信息
                </a>
            </p>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10">
            <iframe src="/CameraPeople/CameraPeopleSingleData/2" frameborder="0" width='100%' height="400px">
            </iframe>
        </div>
        <div class="caption col-lg-2 col-md-2 col-sm-2">
            <h3>二号摄像机</h3>
            <p>
                <a href="#" class="btn btn-info" role="button">
                    查看该摄像头监控信息
                </a>
                <br>
                <a href="#" class="btn btn-success" role="button">
                    查看该摄像头位置信息
                </a>
            </p>
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10">
            <iframe src="/CameraPeople/CameraPeopleSingleData/3" frameborder="0" width='100%' height="400px">
            </iframe>
        </div>
        <div class="caption col-lg-2 col-md-2 col-sm-2">
            <h3>三号摄像机</h3>
            <p>
                <a href="#" class="btn btn-info" role="button">
                    查看该摄像头监控信息
                </a>
                <br>
                <a href="#" class="btn btn-success" role="button">
                    查看该摄像头位置信息
                </a>
            </p>
        </div>


    </div>
</div>

<div class="row col-sm-1 col-md-1 col-lg-1"></div>
</body>
</html>
